/***********************************************************************************************************************
 * ╔═══╗ ╔══╗ ╔═══╗ ╔════╗ ╔═══╗ ╔══╗  ╔╗╔╗╔╗ ╔═══╗ ╔══╗   ╔══╗  ╔═══╗ ╔╗╔╗ ╔═══╗ ╔╗   ╔══╗ ╔═══╗ ╔╗  ╔╗ ╔═══╗ ╔╗ ╔╗ ╔════╗
 * ║╔══╝ ║╔╗║ ║╔═╗║ ╚═╗╔═╝ ║╔══╝ ║╔═╝  ║║║║║║ ║╔══╝ ║╔╗║   ║╔╗╚╗ ║╔══╝ ║║║║ ║╔══╝ ║║   ║╔╗║ ║╔═╗║ ║║  ║║ ║╔══╝ ║╚═╝║ ╚═╗╔═╝
 * ║║╔═╗ ║╚╝║ ║╚═╝║   ║║   ║╚══╗ ║╚═╗  ║║║║║║ ║╚══╗ ║╚╝╚╗  ║║╚╗║ ║╚══╗ ║║║║ ║╚══╗ ║║   ║║║║ ║╚═╝║ ║╚╗╔╝║ ║╚══╗ ║╔╗ ║   ║║
 * ║║╚╗║ ║╔╗║ ║╔╗╔╝   ║║   ║╔══╝ ╚═╗║  ║║║║║║ ║╔══╝ ║╔═╗║  ║║─║║ ║╔══╝ ║╚╝║ ║╔══╝ ║║   ║║║║ ║╔══╝ ║╔╗╔╗║ ║╔══╝ ║║╚╗║   ║║
 * ║╚═╝║ ║║║║ ║║║║    ║║   ║╚══╗ ╔═╝║  ║╚╝╚╝║ ║╚══╗ ║╚═╝║  ║╚═╝║ ║╚══╗ ╚╗╔╝ ║╚══╗ ║╚═╗ ║╚╝║ ║║    ║║╚╝║║ ║╚══╗ ║║ ║║   ║║
 * ╚═══╝ ╚╝╚╝ ╚╝╚╝    ╚╝   ╚═══╝ ╚══╝  ╚═╝╚═╝ ╚═══╝ ╚═══╝  ╚═══╝ ╚═══╝  ╚╝  ╚═══╝ ╚══╝ ╚══╝ ╚╝    ╚╝  ╚╝ ╚═══╝ ╚╝ ╚╝   ╚╝
 *----------------------------------------------------------------------------------------------------------------------
 * @author Gartes | sad.net79@gmail.com | Skype : agroparknew | Telegram : @gartes
 * @date 27.08.2020 00:28
 * @copyright  Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license    GNU General Public License version 2 or later;
 **********************************************************************************************************************/
.search-suggest .button--link, .search-suggest .button_type_link {
    margin: 0;
    padding: 0;
    border: none;
    background: 0 0;
    text-decoration: none;
    color: #3e77aa;
    cursor: pointer;
}
.search-suggest[_ngcontent-c9] {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 90;
    width: calc( 100% - 3px);
    /* padding-top: 8px; */
    padding-bottom: 8px;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 0 0 3px 3px;
    background-color: #fffefe;
    overflow: hidden;
    box-shadow: 7px 5px 15px 0px rgb(0 0 0 / 27%);
}
.search-suggest[_ngcontent-c9].history ul{
    overflow-y: inherit;
}
.search-suggest[_ngcontent-c9].hidde {
    /* display: none; */
}
.search-suggest ul{
    list-style: none;
    padding: 0;
    margin: 0;
    /* max-height: 242px; */
    overflow-y: auto;
}

.search-suggest.text ul {
    max-height: 242px;
}

ul.suggest-list.search-suggest-product {
    max-height: 285px;
    min-height: 100px;
}

ul.suggest-list.search-suggest-product+ul:before {content: '';position: absolute;top: -21px;width: calc(100% - 7px);height: 20px;background: rgb(255, 255, 255);background: -moz-linear-gradient(270deg, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 70%);background: -webkit-linear-gradient(270deg, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 70%);background: -o-linear-gradient(270deg, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 70%);background: -ms-linear-gradient(270deg, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 70%);background: linear-gradient(0deg, rgb(255 255 255) 35%, rgb(255 255 255 / 61%) 100%);}

ul.suggest-list.search-suggest-product+ul {
    overflow: visible;
    position: relative;
    border-top: 1px solid #ccc;
}


.search-suggest__item[_ngcontent-c9] {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.search-suggest-product li.search-suggest__item:last-child {
    margin-bottom: 18px;
}

.search-suggest__item[_ngcontent-c9]:focus,
.search-suggest__item[_ngcontent-c9]:hover,
.search-suggest__item_state_active[_ngcontent-c9] {
    background-color: #e6e6e6;
}
.suggest-goods[_ngcontent-c9] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #e9e9e9;
    text-decoration: none;
}

.search-in-category .suggest-goods[_ngcontent-c9] {
    padding: 3px;
}
.search-suggest__show-all[_ngcontent-c9] {
    font-size: 18px;
    line-height: 32px;
    padding: 0 16px;
    transition: all .3s;
    /* color: #0052b9; */
    /* text-shadow: 1px 1px 1px #00000091; */
}

.search-suggest__show-all[_ngcontent-c9]:hover {
    color: #ff7700;
}
.suggest-goods__image[_ngcontent-c9] {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.search-suggest .suggest-goods__image img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.suggest-goods__title[_ngcontent-c9] {
    display: block;
    font-size: 16px;
    color: #221f1f;
    white-space: normal;
}
.suggest-goods[_ngcontent-c9]:hover .suggest-goods__title[_ngcontent-c9] {
    text-decoration: underline;
}
.suggest-goods__price[_ngcontent-c9] {
    display: inline-block;
    margin-right: 8px;
    font-size: 17px;
    color: #221f1f;
}

.suggest-goods__price[_ngcontent-c9].checkPrice {
    color: #ff7700;
}
.search-suggest .button_buy {
    background: #ff7800 url(/images/icon-cart.png) no-repeat scroll 6px 50% / 18px 18px;
    border: 1px solid #e46b00 !important;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 0px #00000078;
    border: none;
    display: block;
    font-size: 16px;
    padding: 2px 0 2px 10px;
    position: absolute;
    bottom: 11px;
    right: 7px;
    width: 100px;
}

/* ====================  Scroll Bar  ==================== */
/* width */
.search-suggest ul::-webkit-scrollbar {
    width: 7px;
}
/* Track */
.search-suggest ul::-webkit-scrollbar-track {
    background: #dedcdb;
}
/* Handle */
.search-suggest ul::-webkit-scrollbar-thumb {
    background: #a09f9e;
}
/* Handle on hover */
.search-suggest ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.search-suggest__item-icon[_ngcontent-c9] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 3px;
    margin-right: 16px;
    fill: #d2d2d2;
}

.search-suggest__heading[_ngcontent-c9] {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 32px;
    color: #797878;
}



.search-suggest__group[_ngcontent-c9] {
    border-bottom: 1px solid #e9e9e9;
    max-height: 100px;
}
.search-suggest__item-content[_ngcontent-c9] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}
.search-suggest__item-text[_ngcontent-c9] {
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color: #221f1f;
}
.search-suggest__item-text[_ngcontent-c9] span{
    max-width: 100%;
    line-height: 13px;
    height: 15px;
    padding: 9px 0 0 0;
    overflow: hidden;
    font-size: 0.8em;
}
.search-suggest__item-text[_ngcontent-c9] span:before{
    /* content:''; */
}
.search-suggest__item-text[_ngcontent-c9] span:after{
    /* content: '...'; */
}

.search-suggest__item-text[_ngcontent-c9] .caption {
    color: #a6a5a5;
}
.search-suggest__item-request[_ngcontent-c9] {
    display: none;
    margin-right: 6px;
}
@media (min-width: 768px) {
    .search-suggest__item-request[_ngcontent-c9] {
        display: block
    }
}
.search-suggest__item-caption[_ngcontent-c9] {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #999;
}

#Statistic{
    position: absolute;
    top: -8px;
    left: 6px;
    background: red;
    padding: 0 8px;
}

div#Statistic span {
    margin-right: 4px;
    background: none;
    color: #444343;
}
.search-form__clear[_ngcontent-c9] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: #fff;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 83px;
    z-index: 300;
}
@media only screen and (max-width: 1280px) {
    .search-form__clear[_ngcontent-c9] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 0;
        border: none;
        background: #fff;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 60px;
        z-index: 300;
    }
}
form.empty-form button.search-form__clear {
    display: none;
}
.search-form__clear[_ngcontent-c9] svg[_ngcontent-c9] {
    fill: #3e77aa;
}
.search-form__clear[_ngcontent-c9]:hover svg[_ngcontent-c9] {
    fill: #ff7878;
}
.search-suggest__heading-action[_ngcontent-c9] {
    margin-left: auto;
}
.search-suggest__item-remove[_ngcontent-c9] {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
}
.search-suggest__item[_ngcontent-c9]:hover .search-suggest__item-remove[_ngcontent-c9]{
    opacity: .6;
}
.search-suggest__item-remove[_ngcontent-c9]:hover svg {fill: #ff7878;}

.button--link:hover, .button_type_link:hover {
    color: #ff7878;
}

p.search-suggest__item.search-suggest__item-content.search-suggest__item-content_type_no-results.search-suggest__item-text {
    margin: 10px;
}